@mixin sombra($color1, $color2, $orientacion: "horizontal") {
    @if $orientacion == "vertical" {
        background-image: linear-gradient(to bottom, $color1, $color2);
    } @else {
        background-image: linear-gradient(to right, $color1, $color2);
    }
}

body {
    @include sombra(red, green, "vertical");
    height: 300px;
}